body {
    background-image: url('https://i.pinimg.com/564x/2c/4d/51/2c4d51a51e6046b52213bbab4560f4a3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    font: 12px;
    margin: 20px;
}

.population-pyramid-exp{
    margin-left: 50px;
}

.page {
    width: 850px;
    background-image: url('https://i.pinimg.com/564x/2c/4d/51/2c4d51a51e6046b52213bbab4560f4a3.jpg');
    /* background-color: #e8e1d7; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    height: 400px; 
    margin: 0px;
}

.vis-container-1-2 {
    width: 100%;
    height: 200px; 
    margin: 0px;
}

.vis-container-1-3 {
    width: 100%;
    height: 300px;
    margin: 0px;
}

.vis-container-1-4 {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pure-g {
    margin-bottom: 40px;
    margin-top: 0px;
    /* border: 3px solid #000; */
}
