.main-title {
    font-family: "Rubik Marker Hatch", system-ui;
    font-size: 90px;
    margin: 0;
    text-align: center;
    color: #e9311a;

}

.sub-title {
    font-family: "Rubik Marker Hatch", system-ui;
    font-size: 65px;
    margin: 0;
    text-align: center;
    color: #e9311a;
}

h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #3f2b12;
    letter-spacing: 1.5px;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.male {
    color: #2f88a6;
    font-weight: 900;
    font-size: 14px;
}

.female {
    color: #e30133;
    font-weight: 900;
    font-size: 14px;
}

.population-pyramid-exp {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.keywords {
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 14px;
}

.medically-certified {
    font-weight: 700;
    font-size: 16px;
    color: #996e1f;
}

.non-medically-certified {
    font-weight: 700;
    font-size: 16px;
    color: #dcaf49;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #dcd2c8, transparent);
    padding-top: 5px;
}

h3 {
    font-family: "times new roman";
    font-weight: 200;
    font-size: 12px;
    color: black;
}

.keyword {
    font-family: "times new roman";
    font-style: italic;
    font-weight: 900;
    font-size: 14px;
}

/* Google font */
.rubik-marker-hatch-regular {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.afacad-flux-regular {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pontano-sans-light {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.pontano-sans-regular {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pontano-sans-semibold {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.pontano-sans-bold {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.outfit-extralight {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.outfit-light {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.outfit-black {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }